#name {
  background: linear-gradient(
    90deg,
    /* #ff4800,
    rgb(249, 134, 4),
    rgb(223, 223, 2),
    rgb(190, 223, 2),
    rgb(137, 201, 0),
    rgb(89, 255, 18),
    rgb(2, 218, 45),
    rgb(0, 201, 167),
    rgb(30, 86, 255),
    rgb(158, 67, 255),
    rgb(217, 0, 255),
    #ff4800 */
      #fff,
    #dddddd,
    #adadad,
    #969696,
    #8f8f8f,
    #787878,
    #6b6b6b,
    #636363,
    #6b6b6b,
    #787878,
    #8f8f8f,
    #969696,
    #adadad,
    #d9d7d7,
    #fff
  );
  background-size: 400%;
  color: transparent;
  background-clip: text;
  animation: name-animation 14s linear infinite;
}

.left {
  /* filter: drop-shadow(0px -1px 10px #d8d8d8); */
}
.img-me {
  filter: drop-shadow(0px 0px 9px #000000);
  transition-duration: 150ms;
}
.right {
  filter: drop-shadow(0px -1px 69px #000000);
}

.img-me:hover {
  filter: drop-shadow(0px -1px 89px #000000);
}

.web {
  filter: drop-shadow(0px -1px 20px #8f9191);
}

.btn-hero:hover {
  filter: drop-shadow(0px -1px 30px #b0b2b3);
  border-bottom: black solid;
  border-top: black solid;
  border-left: black solid;
  border-right: black solid;
}

.about {
  background-color: #080808;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='96' height='96' fill-opacity='0.25' fill='%23000000'/%3E%3C/svg%3E");
}

/* .left-about {
  background-color: #080808;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.98' height='25' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='96' height='96' fill-opacity='0.85' fill='%23000000'/%3E%3C/svg%3E");
  } */

.skills {
  background-color: #040404;
}

.drop-skill:hover {
  filter: drop-shadow(0 2px 2px white);
}
.drop-project {
  filter: drop-shadow(0 0 10px rgb(21, 21, 21));
}
.drop-profile-image {
  filter: drop-shadow(0 0px 5px rgb(129, 129, 129));
}
.drop-project:hover {
  filter: drop-shadow(0 4px 2px white);
}

#one:hover #two {
  /* transform: scale(1.6) rotate(45deg) translateY(-4.2rem); */
  animation-name: hand;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  /* transform: translateY(-3rem); */
}
#lc {
  display: none;
  transition-duration: 6s;
  /* transition: width .2s;
    -webkit-transition: width .2s; */
  /* transition: 1s ease-in-out; */
}

#one:hover #lc {
  display: flex;
}

@keyframes hand {
  0% {
    transform: scale(1) rotate(0deg) translateY(0rem);
  }
  50% {
    transform: scale(1.2) rotate(65deg) translateY(-1.2rem);
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0rem);
  }
}

@keyframes name-animation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.sky-gradient {
  background: #d2d2d2;
  background: linear-gradient(-90deg, #e4e5e5 0%, rgba(51, 80, 78, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #e1e5e5 0%,
    rgba(51, 80, 80, 0) 100%
  );
}

.iiframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.btn-conteiner {
  display: flex;
  --color-text: #ffffff;
  --color-background: #97002d;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
