.icon {
  transition: 0.8s all ease-in-out;
  /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
  filter: drop-shadow(0px 0px 3px #ffffff);

  border-radius: 50%;


}
.a1 {
  filter: none;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    padding: 2px;
    background-color: #cbcbcbf2;
    width: 55px;
    height: 55px;

  border-radius: 50%; 
}
.icon:hover {
  filter: drop-shadow(0px 0px 15px #ffffff);
  transform: scale(1);
  transition: all .2s ease-out;

}

.a1:hover {
    background-color: #ffffff;
    box-shadow: none;
    filter: drop-shadow(none);

}

.left-strap {
  
  border: linear-gradient(-90deg, #5ce1e6 0%, rgba(51, 80, 78, 0) 100%);
}