
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Delicious+Handrawn&family=Kanit&family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;

}

body{
  overflow-x: hidden;
  scroll-behavior: smooth;

  
}
@font-face {
  font-family: N-B-1;
  src: url(../public/Bantayog-Regular.otf);
}

@font-face {
  font-family: C-G-32;
  src: url(../public/Copperplate-Gothic-32-BC.otf);
}
@font-face {
  font-family: GAGALIN;
  src: url(../public/Gagalin-Regular.otf);
}
@font-face {
  font-family: logo-font;
  src: url(../public/STROKEYB.TTF)
}

::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: linear-gradient(to bottom, rgb(1, 1, 28), rgb(11, 11, 255));
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #040519;
}

.frame {
  padding-left: 20rem;
  padding-right: 20rem;
}
.frame2 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.icons {
  /* height: 6rem; */
  width: 6rem;
}

.hero-img{
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .frame {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .about{
    overflow-y: hidden;
    padding: 5rem;
    display: flex;

  }
  .heading, .left-strap, .dot{
    display: none;
  }
  .main-container-about{

  }

  .container-about{
    flex-direction: column-reverse;
    margin-top: 0rem;
    margin-bottom: 0;
    gap: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
  /* .img-container{
    height: 100%;
    width: 100;
  } */
  .left-about{
   font-size: 80%;
   
  }
  .skills{
    padding: 5rem;
    display: flex;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  .skill-icons{
    padding: 0;
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  .name{
    padding-bottom: 1rem;
    font-size: 18.4rem;
    width: auto;
  }
  .bio {
    padding-top: 1rem;
    margin-right: 1rem;
  }
  .bio span {
    line-break: auto;
  }
  .circle1,.circle2,.icon, .right-strap, .home-down-line{
    display: none;
  }
  .hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 20px;
  }
 .hero-img{ 
  display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 50px #2197c8);
    display: flex;
    width: 55rem;
    /* height: 20rem; */

  }

  .heroimg{
   
    height: 45rem;
  }
  .btn-hero{
    border-radius: 10px;
    border: 3px solid black;
    color: #5ce1e6;
    filter: drop-shadow(0px -1px 5px #2197c8);

  }

  .frame {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .frame2 {

    padding-left: 5rem;
    padding-right: 5rem;
  }
}
